<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift Hack Presentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>054BE6511C909A0200ABB6CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>054BE6651C909A0200ABB6CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>054BE6701C909A0200ABB6CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
